<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>⛽ Posto Gestão</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/combustiveis">
        <mat-icon matListItemIcon>local_gas_station</mat-icon>
        <span matListItemTitle>Combustíveis</span>
      </a>
      <a mat-list-item routerLink="/bombas">
        <mat-icon matListItemIcon>ev_station</mat-icon>
        <span matListItemTitle>Bombas</span>
      </a>
      <a mat-list-item routerLink="/abastecimentos">
        <mat-icon matListItemIcon>receipt_long</mat-icon>
        <span matListItemTitle>Abastecimentos</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      }
      <span class="spacer">Sistema de Postos de Combustiveis</span>
      <span style="font-size: 1rem; opacity: 1">Admin User</span>
      <mat-icon style="margin-left: 12px">account_circle</mat-icon>
    </mat-toolbar>
    <div class="content-padding">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
