# ===================================================================
# CONFIGURAÇÃO DO SERVIDOR E APLICAÇÃO
# ===================================================================
server:
  port: 8080
spring:
  application:
    name: posto-combustivel-api

  # ===================================================================
  # CONFIGURAÇÃO DO BANCO DE DADOS (PostgreSQL)
  # ===================================================================
  datasource:
    url: jdbc:postgresql://localhost:5432/posto_combustivel_db
    username: postgres
    password: ${DB_PASSWORD:postgres}

  # ===================================================================
  # CONFIGURAÇÃO DO FLYWAY (Migrações)
  # ===================================================================
  flyway:
    enabled: true
    locations: classpath:db/migration

  # ===================================================================
  # CONFIGURAÇÃO DO JPA/HIBERNATE
  # ===================================================================
  jpa:
    # Desliga o 'Open in View' (Best practice de performance)
    open-in-view: false
    
    # 'validate': O Hibernate valida se as entidades batem com o schema do Flyway
    hibernate:
      ddl-auto: validate

    # Configurações de logging e performance
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        # Padrão Enterprise: Otimizador de sequência para batch inserts
        id:
          new_generator_mappings: true
          enhanced:
            optimizer: pooled-lo
        default_schema: public